<%- include('./partials/header') %>

    <body>
        <%- include('./partials/navbar') %>

            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit...
            </div>
    </body>

    </html>