.blogs-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-box .blogs-subt {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    min-height: 150px;
    padding: 1.2rem;
    margin: 1rem 0;
    border: 2px #fff3 solid;
    transition: 0.3s ease;
}

.blog:hover {
    border-color: var(--accent);
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.05);
}

.blog a {
    text-decoration: none;
}

.blog a h3 {
    font-size: 1.5rem;
    color: blanchedalmond;
    padding: 10px;
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog .caption {
    font-size: 1rem;
    color: rgb(214, 214, 214);
    font-weight: 100;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}