.create-edit-form {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.form-title {
    margin: 3rem 0 2rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.form-box {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.form-group label {
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
    opacity: 0.9;
}

.form-group input,
.form-group textarea {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border: 2px solid var(--border-light);
    background: var(--bg-input);
    border-radius: 8px;
    color: #fff;
    outline: none;
    transition: 0.2s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-hover);
    background: #ffffff15;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.add-blog-btn {
    width: 150px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: #3b78d7;
    color: white;
    border-radius: 6px;
}

.add-blog-btn:hover {
    background-color: #4c8fff;
    transform: translateY(-2px);

}

/* FORM FOOTER LINKS */
.form-footer {
    text-align: center;
    margin-top: 1.5rem;
    font-family: "SF-Distant";
}

.form-footer p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
}

.form-footer a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.3s;
}

.form-footer a:hover {
    /* text-shadow: 0 0 8px var(--accent); */
    text-decoration: underline;
}