.navbar {
    font-family: "starWarsFont";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-links ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-links ul a:hover {
    color: #fffff0;
    /* Off-white core for brightness */
    text-shadow:
        0 0 5px #fff,
        /* Bright white inner core */
        0 0 10px #ffe81f,
        /* Classic Star Wars Yellow */
        0 0 20px #ffcc00,
        /* Deep golden mid-glow */
        0 0 40px #ffcc00;
    /* Broad outer aura */


}

.title-logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logout-form {
    display: inline;
}

.logout-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.logout-btn:hover {
    color: #ffe0e0;
    /* Pale red core */
    text-shadow:
        0 0 2px #fff,
        /* White hot center */
        0 0 6px #ff2222,
        /* Main red blade color */
        0 0 12px #ff2222,
        /* Inner aura */
        0 0 20px #ff2222;
    /* Broad outer glow */
}