.navbar {
    font-family: "starWarsFont";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-links ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-links ul a:hover {
    color: var(--accent);
}

.title-logo a {
    text-decoration: none;
    color: white;
}

.logout-form {
    display: inline;
}

.logout-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.logout-btn:hover {
    color: var(--accent);
}